---
import MessageEditor from "../components/Editor.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Editor">
	<main class="flex justify-center items-center w-full pt-8 px-8">
		<MessageEditor client:visible />
	</main>
</Layout>
