---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.tsx";
import Search from "../components/Search.tsx";
import Button from "../components/Button.tsx";
---

<Layout title="Chichichi cha">
	<main></main>
	<div class="flex justify-center py-4">
	<Search client:visible className="justify-center"/>
	</div>
	<Card client:visible />
</Layout>

