---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.tsx";
import Card from "../components/Card.tsx";
import Search from "../components/Search.tsx";
---

<Layout title="Chichichi cha">
	<main></main>
	<Button client:visible />
	<Search client:visible className="justify-center"/>
	<Card client:visible />
</Layout>

