---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.tsx";
---

<Layout title="Welcome to Astro.">
	<main></main>
	<Button client:visible Text="Test" />
</Layout>
