---
import Layout from "../layouts/Layout.astro";
import Mapbox from "../components/Mapbox.tsx";
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="h-full">
			<Mapbox height="100vh" client:load />
		</div>
	</main>
</Layout>
