---
import Layout from "../layouts/Layout.astro";
import Picture from "../components/Picture.tsx";
import Card from "../components/Card.tsx";
---

<Layout title="Arrrrrr">
    <div class="flex">
    <div class="flex justify-center h-[300px] w-1/2">
      <Picture client:visible></Picture>
    </div>
        <div class="flex pt-4 w-1/2">

        </div>
    </div>
</Layout>
