---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.tsx";
---

<script>
	const text =
		"Do akce čištění skladu jsme přidali nové figurky! Některé z nich jsou zcela nové, jiné jsou zase jen doplněním stávajících řad. Všechny figurky jsou v akci za 50% ceny. Akce platí do vyprodání zásob.";

	async function Voice(text: string) {
		if (!text) {
			console.error("Text is empty or null");
			return;
		}
		try {
			const request = new Request("/api/Voices", {
				method: "POST",
				body: JSON.stringify({ text }),
				headers: {
					"Content-Type": "application/json",
				},
			});

			const response = await fetch(request);

			if (response.ok) {
				const data = await response.arrayBuffer();
				if (!data) {
					console.error("No data received from the server");
					return;
				}
				const audioBlob = new Blob([data], { type: "audio/mpeg" });
				const audioUrl = URL.createObjectURL(audioBlob);
				const audio = document.querySelector("audio");
				if (audio) {
					audio.pause();
					audio.src = audioUrl;
					audio.play();
				} else {
					console.error("Audio element not found in the DOM");
				}
			} else {
				throw new Error("Something went wrong");
			}
		} catch (error) {
			console.error("An error occurred:", error);
		}
	}

	const button = document.querySelector("#hello");
	if (button) {
		button.addEventListener("click", () => {
			console.log("Button found in the DOM");
			Voice(text);
		});
	} else {
		console.error("Button not found in the DOM");
	}
</script>

<Layout title="Welcome to Astro.">
	<main>
		<audio src="" class="invisible"></audio>
		<Button Text="Send" buttonId="hello" client:load />
	</main>
</Layout>
