<footer class="fixed bottom-2 w-full text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>© 2024 - Vytvořeno v rámci Hackathonu NKÚ</p>
            </div>
        </div>
    </div>
</footer>